
*{
   font-family:Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.inner-container{
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    box-shadow: 0 0 40px rgb(224, 237, 235);
}
header{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.description{
  
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    font-size: large;
}
.description :nth-child(1){
    color: rgb(146, 145, 145);
    font-size: small;
    
}

.description :nth-child(3){
    font-size: small;   
}
.buttons-image{
    display: flex;
  
    flex-direction: column;
    row-gap: 2vh;
    
   
    
}
.image-box{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.img-size{
  width: 17em;
  height: 15em;
 
}
.audio-buttons{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
  
    
}
input[type="audio"]{
    height: 1px;
    border: none;
    background-color: rgb(204, 201, 201);
    width: 100%;
    
}

.audio-time{
    display: flex;
    justify-content: space-between;
    color: rgb(145, 141, 141);
    font-size: small;

}
.play-button{
    margin-top:-2rem;
    margin-bottom:2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;   
    
}
.play-list{
   
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: #a1a3a5;
    font-size: small;
}
.play-list h4{
    padding: 0;
    margin: 0;
}
.song{
    display: flex;
    justify-content: space-between;
}
.font-bold{
    font-weight: bold;
    color: black;
}
li{
    padding: 0;
    margin-left: -1.5em;
   
}


